In [ ]:
from ucimlrepo import fetch_ucirepo

In [98]:
#Fetch Dataset
dataset = fetch_ucirepo(id=320)
df = dataset.data.original

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   age         649 non-null    int64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB

In [100]:
edu_map = {
    0: "none",
    1: "primary (4th grade)",
    2: "5th to 9th grade",
    3: "secondary",
    4: "higher education"
}

traveltime_map = {
    1: "<15 min",
    2: "15–30 min",
    3: "30 min–1 hour",
    4: ">1 hour"
}

studytime_map = {
    1: "<2 hours",
    2: "2–5 hours",
    3: "5–10 hours",
    4: ">10 hours"
}

school_map = {
    'GP': 'Gabriel Pereira',
    'MS': 'Mousinho da Silveira'
}

address_map = {
    'U': 'urban',
    'R': 'rural'
}

famsize_map = {
    'GT3': 'greater than 3',
    'LE3': 'less or equal to 3'
}

Pstatus_map = {'T': 'living together',
               'A': 'apart'
}


df["Medu"] = df["Medu"].map(edu_map)
df["Fedu"] = df["Fedu"].map(edu_map)
df["traveltime"] = df["traveltime"].map(traveltime_map)
df["studytime"] = df["studytime"].map(studytime_map)

df['school'] = df['school'].map(school_map)
df['address'] = df['address'].map(address_map)
df['famsize'] = df['famsize'].map(famsize_map)
df['Pstatus'] = df['Pstatus'].map(Pstatus_map)

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   age         649 non-null    int64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    object
 7   Fedu        649 non-null    object
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  649 non-null    object
 13  studytime   649 non-null    object
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: int64(12), object(21)
memory usage: 167.4+ KB

In [102]:
#Get Features and Targets
X = df.drop(columns = ['G3'])
y = df['G3']

In [103]:
#View Features
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 32 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   age         649 non-null    int64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    object
 7   Fedu        649 non-null    object
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  649 non-null    object
 13  studytime   649 non-null    object
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
dtypes: int64(11), object(21)
memory usage: 162.4+ KB

In [104]:
#View Targets
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 649 entries, 0 to 648
Series name: G3
Non-Null Count  Dtype
--------------  -----
649 non-null    int64
dtypes: int64(1)
memory usage: 5.2 KB

In [105]:
#Get The Numerical and Categorical Columns for Encoding

num_cols = X.select_dtypes(include='int64').columns
cat_cols = X.select_dtypes(include='object').columns

print(len(num_cols) + len(cat_cols)) #Verify All Features Are Accounted For

32

In [106]:
#Get The Binary Columns

binary_cols = []
non_binary_cols = []
for col in cat_cols:
    if len(df[col].value_counts().index.to_list()) <= 2:
        binary_cols.append(col)
    else:
        non_binary_cols.append(col)

print(f"Binary Columns: {binary_cols}")
print(f"Non Binary Columns: {non_binary_cols}")

Binary Columns: ['school', 'sex', 'address', 'famsize', 'Pstatus', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic']
Non Binary Columns: ['Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime']

In [107]:
from sklearn.preprocessing import LabelEncoder

encoders = {}

for col in binary_cols:
    le = LabelEncoder()
    X[col] = le.fit_transform(X[col])
    encoders[col] = dict(zip(le.classes_, le.transform(le.classes_)))

In [108]:
encoders

{'school': {'Gabriel Pereira': np.int64(0),
  'Mousinho da Silveira': np.int64(1)},
 'sex': {'F': np.int64(0), 'M': np.int64(1)},
 'address': {'rural': np.int64(0), 'urban': np.int64(1)},
 'famsize': {'greater than 3': np.int64(0), 'less or equal to 3': np.int64(1)},
 'Pstatus': {'apart': np.int64(0), 'living together': np.int64(1)},
 'schoolsup': {'no': np.int64(0), 'yes': np.int64(1)},
 'famsup': {'no': np.int64(0), 'yes': np.int64(1)},
 'paid': {'no': np.int64(0), 'yes': np.int64(1)},
 'activities': {'no': np.int64(0), 'yes': np.int64(1)},
 'nursery': {'no': np.int64(0), 'yes': np.int64(1)},
 'higher': {'no': np.int64(0), 'yes': np.int64(1)},
 'internet': {'no': np.int64(0), 'yes': np.int64(1)},
 'romantic': {'no': np.int64(0), 'yes': np.int64(1)}}

In [109]:
X.select_dtypes(include = 'object').columns.to_list()

['Medu',
 'Fedu',
 'Mjob',
 'Fjob',
 'reason',
 'guardian',
 'traveltime',
 'studytime']

In [110]:
#Perform One Hot Encoding Of Categorical (Non-Binary) Features
import pandas as pd

X = pd.get_dummies(
    X,
    columns= X.select_dtypes(include = 'object').columns.to_list(),
    drop_first=False
                  )

In [111]:
print(f"Columns of X: {X.columns}")
print(f"Shape Of X: {X.shape}")

Columns of X: Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'failures',
       'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher',
       'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc',
       'health', 'absences', 'G1', 'G2', 'Medu_5th to 9th grade',
       'Medu_higher education', 'Medu_none', 'Medu_primary (4th grade)',
       'Medu_secondary', 'Fedu_5th to 9th grade', 'Fedu_higher education',
       'Fedu_none', 'Fedu_primary (4th grade)', 'Fedu_secondary',
       'Mjob_at_home', 'Mjob_health', 'Mjob_other', 'Mjob_services',
       'Mjob_teacher', 'Fjob_at_home', 'Fjob_health', 'Fjob_other',
       'Fjob_services', 'Fjob_teacher', 'reason_course', 'reason_home',
       'reason_other', 'reason_reputation', 'guardian_father',
       'guardian_mother', 'guardian_other', 'traveltime_15–30 min',
       'traveltime_30 min–1 hour', 'traveltime_<15 min', 'traveltime_>1 hour',
       'studytime_2–5 hours', 'studytime_5–10 hours', 'studytime_<2 hours',
       'studytime_>10 hours'],
      dtype='object')
Shape Of X: (649, 59)

In [112]:
#Split Into Train and Test Sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [117]:
# Load The Model From The Pickle File

import joblib 
from sklearn.linear_model import Lasso 

file_path = 'Lasso_model-test.pkl'

try:
    lasso_model = joblib.load(file_path)
    
    print(f"Loaded Model from '{file_path}'!")
    print(f"Model Type: {type(lasso_model)}")
    print(f"Model coefficients (Head): {lasso_model.coef_[:5]}...")
    
except FileNotFoundError:
    print(f"Error: The file '{file_path}' was not found.")
except Exception as e:
    print(f"An error occurred during loading: {e}")

# You can now use the loaded model to predict:
# predictions = lasso_model.predict(new_data)

Loaded Model from 'Lasso_model-test.pkl'!
Model Type: <class 'sklearn.linear_model._coordinate_descent.Lasso'>
Model coefficients (Head): [-0. -0. -0.  0.  0.]...

In [118]:
y_pred_LA = lasso_model.predict(X_test)

In [119]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

r2_LA = r2_score(y_test, y_pred_LA)
mse_LA = mean_squared_error(y_test, y_pred_LA)
mae_LA = mean_absolute_error(y_test, y_pred_LA)


print("R² Score:", r2_LA)
print("MSE:", mse_LA)
print('MAE:', mae_LA)

R² Score: 0.8694347846173793
MSE: 1.2732348967998475
MAE: 0.6836226646569573

In [121]:
print(lasso_model.coef_)

[-0.         -0.         -0.          0.          0.         -0.
 -0.         -0.          0.         -0.         -0.         -0.
  0.          0.          0.         -0.         -0.         -0.
 -0.         -0.         -0.          0.          0.11371627  0.85664149
  0.          0.          0.         -0.          0.          0.
  0.          0.         -0.          0.         -0.          0.
 -0.          0.          0.          0.          0.          0.
 -0.         -0.          0.          0.         -0.          0.
 -0.          0.          0.         -0.         -0.          0.
  0.          0.          0.         -0.          0.        ]